body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: $main-font;
  font-weight: 400;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
.list {
  padding: 0;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-text-color;
  font-weight: 700;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* input,
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
}
input:focus,
textarea:focus-within {
  transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} 
*/
