.footer-flex {
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.back-footer {
  background-color: #2f303a;
  padding: 60px 15px;
}
.footer {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer .logo {
  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
}
.footer-flex {
  @media screen and (min-width: 1200px) {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: baseline;
  }
}

/* .footer {
  padding-top: 48px;
} */
.footer .logo {
  font-size: 22px;
  line-height: 1.18;
}
.logo {
  display: block;
}

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */
.logo {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: $accent-color;
  text-decoration: none;
}
.logo .logo-item {
  color: $title-text-color;
}

.logo .text {
  color: $white-text-color;
}

.logo .text {
  color: $white-text-color;
}
.list .text {
  font-size: 14px;
  line-height: 1.71;
}
.text.button {
  font-weight: 900;
}
.project .text {
  font-size: 16px;
  line-height: 1.87;
}
.address .footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
.address {
  color: $white-text-color;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.slogan {
  display: flex;
  justify-content: center;
  color: $white-text-color;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    /* padding-left: 70px; */
  }

  color: $white-text-color;
  /* text-align: center; */

  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.slogan-padding {
  @media screen and (max-width: 767px) {
    padding-top: 60px;
  }
}
/* .network {
  display: flex;
  justify-content: space-between;
  margin-left: 44px;
  margin-right: 44px;
  padding-left: 0px;
} */
.back-footer .network {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
.footer-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: $white-text-color;
}

.footer-icon:hover {
  background-color: #2196f3;
  fill: $white-text-color;
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
}
.imput-size {
  @media screen and (max-width: 479px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
.imput-size {
  color: $white-text-color;
  background-color: #2f303a;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.subscribe-text {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.subscribe-text {
  margin-top: 0;
  font-family: $main-font;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
}
.tes {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

/* .subscribe {
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
} */
.button-flex {
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}

.hero-button {
  background: #2196f3;
  color: $button-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.hero-button:hover {
  transform: scale(1.08);
}
.send {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .union {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  .footer .logo {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .union {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    margin-right: 69px;
  }
}
