$primary-text-color: #757575;
$title-text-color: #212121;
$button-text-color: #ffffff;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$white-text-color: #ffffff;
$portfolio-bg-color: #ffffff;
$second-portfolio-bg-color: rgba(33, 150, 243, 0.9);

$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
